@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Regular.ttf') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-family: 'FiraCode';
  color: red;
  /* background: url('./bg.jpg'); */
}
